$imf-color-primary: #a3bdd3 !default;
$imf-color-secondary: #426972 !default;
$imf-color-background: #52a2b4 !default;
$imf-font-color: #11574a !default;

$imf-brand-colors: (
  "primary": $imf-color-primary,
  "secondary": $imf-color-secondary,
  "text": $imf-font-color
) !default;

$imf-color-body: scale-color($imf-color-primary, $lightness: -40%, $saturation: -50%) !default;
$imf-color-gray: mix(#ddd8d8, $imf-color-body, 70%) !default;

$imf-colors: map-merge(
  $imf-brand-colors,
  (
    "text": $imf-font-color,
    "background": $imf-color-background,
    "light": #fff,
    "dark": rgba(black, 0.87),
    "gray": $imf-color-gray,
  )
);

@function imf-color($key) {
  @return map-get($imf-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$imf-ink-colors: "text", "secondary", "gray", "light", "dark" !default;

// Add/remove to selectively generate `background` (text color) classes
$imf-background-colors: "primary", "secondary", "background", "gray", "light" !default;

$imf-button-variants: "primary", "secondary", "light", "gray" !default;
$imf-link-color: imf-color("text") !default;
$imf-border-radius: 12px !default;

$imf-font-family: "Yeon Sung", sans-serif;
$imf-strong-font-weight: 500 !default;
$imf-h1-font-size: 4.2rem !default;
$imf-h2-font-size: 3.15rem !default;
$imf-h3-font-size: 2rem !default;
$imf-h4-font-size: 1.35rem !default;
$imf-text-font-size: 1.15rem !default;
$imf-lead-font-size: 1.35rem !default;
$imf-font-color:$imf-color-secondary;

$imf-spacing: (
  sm: 0.8rem,
  md: 2.5rem,
  lg: 4rem,
  xl: 6.5rem,
  auto: "auto",
) !default;