// stylelint-disable-next-line selector-max-type
@import url('https://fonts.googleapis.com/css?family=Yeon Sung &display=swap');
body {
    display: block;
    min-height: 50vh;
    font-family: $imf-font-family;
    min-width: fit-content;
    background-color: #1d7565;
  
  }
  
  // stylelint-disable selector-max-type, selector-no-qualifying-type
  main,
  main.imf-container {
    max-height:auto fit-content;
      max-width:  auto fit-content;
      align-self: center;
      opacity: 0.65;
     margin-top: 0;
      font-size: 2em;
      text-align: center;
      line-height: 100px;
      font-family: $imf-font-family;
      color: $imf-font-color;
  }
  
  
  footer {
    margin-top: auto;
    background-color: $imf-color-secondary;
    
  }
  
  article {
    max-width: 100vw;
    margin-top: 5%;
    align-self: center;
  
    > img {
      position:center;
      margin-right: auto;
      margin-left: auto;
      height:5%;
      width: 5%;
    }
  }
  // stylelint-enable
  .imf-img {
    position:center;
    margin-right: auto;
    margin-left: auto;
    height:10%;
    width: 7%;
  }
  
  .imf-container {
    background-image:url("../assets/banner.png");
    background-size:100%;
    background-repeat: no-repeat ;
    max-width:fit-content auto;
    max-height: fit-content auto;
    margin-top: 0;
    border-radius: $imf-border-radius;
    box-shadow: 0 4px 4px rgba(14, 83, 80, 0.18);
  }
  
  .imf-column-container {
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    align-self: top center;
   
  }
  
  // stylelint-disable-next-line selector-no-qualifying-type, selector-max-type
  ul.imf-column-container {
    padding-left: 0;
  }
  
  .imf-section {
    display: contents;
    width: fit-content auto;
    height:  fit-content auto;
    align-self: center;
    &--padded {
      padding-top: 2vh;
      padding-bottom: 2vh;
      padding-left: 2vh;
      padding-right: 2vh;
    }
  
    // stylelint-disable-next-line selector-max-universal
    *:last-child {
      margin-bottom: 2vh;
    }
  }
  
  .imf-hero {
    display: flex;
    min-height: fit-content;
    max-width: fit-content;
    place-content: center;
    margin-bottom: 0  auto;
    margin-top: 0 auto;
   
  }
  .imf-navrow {
    display: flex;
    grid-gap: 1.5rem;
      margin-inline-start: 20%;
       padding-bottom: 5px;
       margin-bottom: 0 auto;
       margin-top: 8.25rem;
       place-content: center;
       max-width: fit-content;
  }
  .imf-row {
  display: flex;
    grid-gap: 1.25rem;
  
    padding-bottom: 5px;
    margin-bottom: 0 auto;
    margin-top: 10rem;
    place-content: center;
  } 
   //stylelint-disable-next-line selector-max-type
  hr {
    margin-top: 2%;
    margin-bottom: 2%;
    border: 10px groove imf-color("secondary");
  }