.imf-content-maxlength {
    max-width: 75ch;
    margin-inline-start: 3%;
    margin-top: 0%;
  }
  
  $imf-alignments: left, center, right, justify !default;
  
  @each $alignment in $imf-alignments {
    .imf-text-align--#{$alignment} {
      text-align: #{$alignment};
  
      @if ($alignment == "center") {
        > a {
          align-self: center !important;
        }
      }
    }
  }
  
  @each $key in $imf-background-colors {
    .imf-background--#{$key} {
      background-color: imf-color($key);
    }
  }
  
  @each $key in $imf-ink-colors {
    .imf-ink--#{$key},
    a.imf-ink--#{$key} {
      color: imf-color(#{$key});
    }
  
    .imf-ink--#{$key} > a:not(.imf-button) {
      color: inherit;
    }
  }
  
  .imf-mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
  
  @each $key, $unit in $imf-spacing {
    .imf-mt-#{$key} {
      margin-top: $unit;
    }
  }
  
  .imf-mb-none {
    margin: 0;
  }